<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<style type="text/css">
	.table{border:1px solid black;}
.blue_bg{ background-color:#5ccbf0;  color:#0b5a75; }
.bluer_bg{ background-color:#14a2d2;  font-weight: bold;  font-size:15px; }
.head{ background-color: #0d6c8c; webkit-print-color-adjust: exact; color:white; font-weight: bold;}
.foot{ background-color: #0d6c8c; color:white; font-weight: bold;webkit-print-color-adjust: exact;}
.footd{ background-color: #0f7ea3; color:white;  webkit-print-color-adjust: exact;}
.new{position: fixed; bottom: 2;}
.label{display:block;}
</style>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<% include head %>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-building"></span>All Projects</h1>
		<form action="/land">
			<button  style="float:right;margin:20px" type='submit' class="btn btn-success">Go Back</button>
		</form>


	</div>
		</div>



</br>
<div class="container" id="land">
	<h2  align="center" style="text-align:left;color:#51b949" >

		<strong>User Name </strong>: <%= user.username %>  |
		<strong> User ID </strong>: <%= user.uid %>
	</h2></br>






				<table style="width:100%" class="table table-hover" id='t2'>
    <thead>
      <tr class="head">

        <th>Assigned</th>
        <th>Task</th>
				<th>Date</th>
				<th>Assignee</th>
				<th>Completed</th>
      </tr>
    </thead>
    <tbody>
			<%for(var value of all){ %>
				<tr class="bluer_bg" align="center">
					<td colspan="5">
						<%= value.ProjOfficial %>
					</td>
				</tr>
				<thead>
		      <tr class="head">

		        <th>Assigned</th>
		        <th>Task</th>
						<th>Date</th>
						<th>Assignee</th>
						<th>Completed</th>
		      </tr>
		    </thead>
				<%for (var data of task ){
					if(data.project==value.Proj_id){
						var date=JSON.stringify(data.date);
						date=date.slice(1,11);
						if(data.completed==1){
							data.completed="True";
						}else{
							data.completed="False";
						}
					%>
					<tr>
						<td>
						<%= data.assigned %>
						</td>
						<td>
						<%= data.task %>
						</td>
						<td>
						<%= date %>
						</td>
						<td>
						<%= data.assignee %>
						</td>
						<td>
						<%= data.completed %>
						</td>
					</tr>
					<%} } %>
				<% } %>


    </tbody>
  </table>




		 </br></br>
		 <hr>

	</div>


	</div>

</body>
</html>
