<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<style type="text/css">
	.table{border:1px solid black;}
.blue_bg{ background-color:#5ccbf0;  color:#0b5a75; }
.bluer_bg{ background-color:#14a2d2; }
.head{ background-color: #0d6c8c; webkit-print-color-adjust: exact; color:white; font-weight: bold;}
.foot{ background-color: #0d6c8c; color:white; font-weight: bold;webkit-print-color-adjust: exact;}
.footd{ background-color: #0f7ea3; color:white;  webkit-print-color-adjust: exact;}
.new{position: fixed; bottom: 2;}
.label{display:block;}
</style>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<% include head %>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-building"></span>Project <%= project %></h1>


	</div>
		</div>



</br>
<div class="container" id="land">
	<h2  align="center" style="text-align:left;color:#51b949" >

		<strong>User Name </strong>: <%= user.username %>  |
		<strong> User ID </strong>: <%= user.uid %> <br>
	</h2>




				<h2>Tasks</h2></br>

				<table style="width:100%" class="table table-hover" id='t2'>
    <thead>
      <tr class="head">
        <th>Project number</th>
        <th>Assigned</th>
        <th>Task</th>
				<th>Date</th>
				<th>Completed</th>
      </tr>
    </thead>
    <tbody>

			<% for(var value of task){ %>
      <tr>
        <td><%= value.project %></td>
        <td><%= value.assigned %></td>
        <td><%= value.task %></td>
				<td><%= value.date %></td>
				<% if (value.completed==0) {%>
					<td> False </td>
					<% }else { %>
						<td> True </td>
						<% } %>
      </tr>
			<% } %>
    </tbody>
  </table>




		 </br></br>
		 <hr>
		 <div class="form-group" >
		 <form action="/create" method="post"  class="form-group">
			 <input hidden type="text" name="pname" value="<%=  %>">
			 <input hidden type="text" name="pname" value="<%= project %>">
			 <input hidden type="text" name="pid" value="<%= value.project %>">
			 <input hidden type="text" name="assigned" value="<%= value.assigned %>">
			 <textarea class="form-control" placeholder="task" name="task"></textarea>
			 <input type="checkbox" name="completed"  value="1"> Completed</input></br>

			 		<button style="float:right"    type='submit' class="btn btn-success">Submit</button>
		</form>
	</div>


	</div>

</body>
</html>
